The purpose of this notebook is to produce prevalence estimates for sets of diagnostic codes and medication codes.

Further below I show two approaches. The first returns the prevalences when I hardcode the clinical codes and medications that are of interest. The second returns the prevalences when we load a CSV file that contains lists of clinical codes and medications.

But before I get into that, immediatlely below I calculate the overall prevalence based on the coding and medication indicators to estimate the prevalence of complex mental health difficulties within the Connected Bradford dataset (using primary care data only).

## Prevalence of complex mental health difficulties
### (based on either clinical coding or medication names)

The code below takes a little time to run because we are searching medications by name, and string searches are computationally heavy.

In [394]:
import pandas as pd
from google.cloud import bigquery

client = bigquery.Client()

codes_to_query = pd.read_csv("example_snomed.csv")
medications_to_query = pd.read_csv("example_medications.csv")

sql = """
WITH
tbl_diagnosis_list AS (
    SELECT
        snomedcode
    FROM
        UNNEST([
                '""" + '\', \''.join(map(str, codes_to_query["code"].tolist())) + """'
                ]) AS snomedcode
),

tbl_medications_list AS (
    SELECT
        Medication
    FROM
        UNNEST([
                '""" + '\', \''.join(map(str, medications_to_query["Medication"].tolist())) + """'
                ]) AS Medication
),

tbl_medications_count AS (
    SELECT
        DISTINCT Tblb.person_id,
        tbl_medications_list.Medication
    FROM
        tbl_medications_list
    LEFT JOIN
        yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.tbl_SRPrimaryCareMedication AS Tblb
    ON
        Tblb.src_nameofmedication LIKE CONCAT('%',tbl_medications_list.Medication,'%')
    WHERE CAST(src_isrepeatmedication AS BOOL) IS TRUE AND
          CAST(src_datemedicationstart AS DATE) > DATE_SUB(CURRENT_DATE(), INTERVAL 1 YEAR)
),

tbl_diagnoses_count AS (
    SELECT
        DISTINCT person_id,
        src_snomedcode
    FROM
        yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.tbl_SRCode, tbl_diagnosis_list
    WHERE
        src_snomedcode IN (tbl_diagnosis_list.snomedcode)
),

tbl_union_count AS (
    SELECT person_id FROM tbl_medications_count
    UNION ALL
    SELECT person_id FROM tbl_diagnoses_count
),

tbl_denominator AS (
    SELECT
        COUNT(DISTINCT person_id) AS denominator
    FROM
        yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    # Limiting to age range 18-70.
    WHERE
        (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
)

SELECT
    COUNT(tbl_union_count.person_id) AS numerator,
    tbl_denominator.denominator AS denominator,
    ROUND((COUNT(tbl_union_count.person_id) / tbl_denominator.denominator)*1000, 1) AS prevalence_per_thousand
FROM
    tbl_union_count, tbl_denominator
GROUP BY tbl_denominator.denominator
"""

prevalence_qry_result = client.query(sql).to_dataframe()
print(prevalence_qry_result)

   numerator  denominator  prevalence_per_thousand
0      64581       699622                     92.3

As of 24th October 2022, the prevalence per thousand is 92.3. The approach to calculating this prevalence used Google BigQuery Client rather than Jupyter notebook's `%%magic cell` functionality because the client is better for reading arbitrary lists of clinical codes and medications. Both of these approaches are presented below.

# Approach 1: Hardcoded clinical codes
In the first section of this notebook, I calculate the prevalences by:
1. making use of Jupyyter notebook's `%%magic cell` functionality, _and_
2. hardcoding the clinical codes of interest to us.

The `%%magic cell` functionality enables us to write SQL syntax directly into a Jupyter notebook cell __provided the SQL syntax follows a `%%bigquery` statement on a new line__. The output will be a SQL-style presentation of the query result.
If we wanted to store the result as a Python dataframe, then we need to add the desired name of our dataframe after the bigquery statement, i.e. write `%%bigquery qry_result` to mean "Please, run the following lines as SQL syntax and store the result in a Python dataframe called `qry_result`". 

### Clinical conditions

In [254]:
%%bigquery
WITH
tbl_diagnosis_list AS (
    SELECT *
    FROM UNNEST(
                ['Bipolar disorder',
                'Borderline personality disorder',
                'Chronic depression',
                'Chronic post-traumatic stress disorder',
                'Complex post-traumatic stress  disorder',
                'Developmental academic disorder',
                'Dysthymia',
                'Personality disorder',
                'Schizophrenia']) AS Condition
    ORDER BY Condition
),
tbl_person AS (
    SELECT DISTINCT person_id, year_of_birth
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    WHERE (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
),

tbl_diagnoses_count AS (
    SELECT
        DISTINCT person_id,
        CASE WHEN src_snomedcode = '13746004'   THEN 'Bipolar disorder'
             WHEN src_snomedcode = '20010003'   THEN 'Borderline personality disorder'
             WHEN src_snomedcode = '192080009'  THEN 'Chronic depression'
             WHEN src_snomedcode = '313182004'  THEN 'Chronic post-traumatic stress disorder'
             WHEN src_snomedcode = '443919007'  THEN 'Complex post-traumatic stress  disorder'
             WHEN src_snomedcode = '1855002'    THEN 'Developmental academic disorder'
             WHEN src_snomedcode = '78667006'   THEN 'Dysthymia'
             WHEN src_snomedcode = '33449004'   THEN 'Personality disorder'
             WHEN src_snomedcode = '58214004'   THEN 'Schizophrenia'
            END AS Condition
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.tbl_SRCode
    WHERE src_snomedcode IN ('13746004', '1855002', '58214004', '20010003', '192080009', '313182004', '443919007', '78667006', '33449004')
),
tbl_denominator AS (
    # Our population of interest is everyone between the ages of 18 and 70.
    SELECT COUNT(DISTINCT person_id) AS denominator
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    WHERE (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
),
preResult AS (
SELECT
    tbl_diagnoses_count.Condition,
    COUNT(tbl_person.person_id) AS n_condition,
    tbl_denominator.denominator,
    ROUND((COUNT(tbl_person.person_id) / tbl_denominator.denominator)*1000, 1) AS prevalence_per_thousand
FROM tbl_diagnoses_count, tbl_denominator
JOIN tbl_person
ON tbl_person.person_id = tbl_diagnoses_count.person_id
GROUP BY tbl_diagnoses_count.Condition, tbl_denominator.denominator
ORDER BY tbl_diagnoses_count.Condition
)
SELECT
    tbl_diagnosis_list.Condition,
    preResult.n_condition,
    preResult.denominator,
    preResult.prevalence_per_thousand
FROM tbl_diagnosis_list
LEFT JOIN preResult
ON tbl_diagnosis_list.Condition = preResult.Condition
ORDER BY tbl_diagnosis_list.Condition

# NOTE from CB:
# Would expect 20-30 per thousand for Schizophrenia.
#

Query is running:   0%|          | 0/1 [00:00<?, ?query/s]
Query executing stage S00: Input and status COMPLETE : 0.00s:   0%|          | 0/13 [00:00<?, ?query/s]
Query complete after 0.01s: 100%|██████████| 13/13 [00:00<00:00, 3001.21query/s]

Downloading:   0%|          | 0/9 [00:00<?, ?rows/s]
Downloading: 100%|██████████| 9/9 [00:00<00:00,  9.22rows/s]

,Condition,n_condition,denominator,prevalence_per_thousand
0,Bipolar disorder,1732.0,699622.0,2.5
1,Borderline personality disorder,486.0,699622.0,0.7
2,Chronic depression,1230.0,699622.0,1.8
3,Chronic post-traumatic stress disorder,110.0,699622.0,0.2
4,Complex post-traumatic stress disorder,NaN,NaN,NaN
5,Developmental academic disorder,859.0,699622.0,1.2
6,Dysthymia,539.0,699622.0,0.8
7,Personality disorder,1465.0,699622.0,2.1
8,Schizophrenia,1629.0,699622.0,2.3

### Medications


Next, we calculate prevalenes of medications of interest in the following BNF categories (again, hardcoding the names of the drugs in which we are interested):

| Drugs used in psychoses <br /> and related disorders | Hypnotics and anxiolytics | Antidepressants |
| --- | --- | ---
| Risperidone | Diazepam | Clomipramine |
| Olanzapine | Zopiclione | Citalopram |
| Quetiapine | | Duloxetine |
| | | Excitalopram |
| | | Lupentioxol |
| | | Mirtazapine |
| | | Paroxetine |
| | | Sertraline |
| | | Trazodone |
| | | Venlafaxine |
| | | Floxetine |


All counts are for medicines started within a year from the current date, and which are repeat prescriptions.

In [320]:
%%bigquery
WITH
tbl_medications_list AS (
    SELECT *
    FROM UNNEST(
                ["Psychoses and related disorders",
                 "Hypnotics and anxiolytics",
                 "Antidepressants"]) AS Medication
    ORDER BY Medication
),

tbl_person AS (
    SELECT DISTINCT person_id, year_of_birth
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    # Limiting to age range 18-70.
    WHERE (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
),

tbl_medications_count AS (
    SELECT
        DISTINCT person_id,
        CASE WHEN src_nameofmedication LIKE "%Risperidone%"  THEN "Psychoses and related disorders"
             WHEN src_nameofmedication LIKE "%Olanzapine%"   THEN "Psychoses and related disorders"
             WHEN src_nameofmedication LIKE "%Quetiapine%"   THEN "Psychoses and related disorders" 
             WHEN src_nameofmedication LIKE "%Diazepam%"     THEN "Hypnotics and anxiolytics"
             WHEN src_nameofmedication LIKE "%Zopiclone%"    THEN "Hypnotics and anxiolytics"
             WHEN src_nameofmedication LIKE "%Clomipramine%" THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Citalopram%"   THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Duloxetine%"   THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Excitalopram%" THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Flupentioxol%" THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Mirtazapine%"  THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Paroxetine%"   THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Sertraline%"   THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Trazodone%"    THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Venlafaxine%"  THEN "Antidepressants"
             WHEN src_nameofmedication LIKE "%Floxetine%"    THEN "Antidepressants"
        END AS Medication
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.tbl_SRPrimaryCareMedication
    WHERE CAST(src_isrepeatmedication AS BOOL) IS TRUE AND
          CAST(src_datemedicationstart AS DATE) > DATE_SUB(CURRENT_DATE(), INTERVAL 1 YEAR)
),

tbl_denominator AS (
    SELECT COUNT(DISTINCT person_id) AS denominator
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    # Limiting to age range 18-70.
    WHERE (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
),

preResult AS (
SELECT
    tbl_medications_count.Medication,
    COUNT(tbl_person.person_id) AS n_medications,
    tbl_denominator.denominator,
    ROUND((COUNT(tbl_person.person_id) / tbl_denominator.denominator)*1000, 1) AS prevalence_per_thousand
FROM tbl_medications_count, tbl_denominator
JOIN tbl_person
ON tbl_person.person_id = tbl_medications_count.person_id
WHERE tbl_medications_count.Medication != 'None'
GROUP BY tbl_medications_count.Medication, tbl_denominator.denominator
ORDER BY tbl_medications_count.Medication
)

SELECT
    tbl_medications_list.Medication,
    preResult.n_medications,
    preResult.denominator,
    preResult.prevalence_per_thousand
FROM tbl_medications_list
LEFT JOIN preResult
ON tbl_medications_list.Medication = preResult.Medication

Query is running:   0%|          | 0/1 [00:00<?, ?query/s]
Query executing stage S00: Input and status COMPLETE : 0.00s:   0%|          | 0/12 [00:00<?, ?query/s]
Query complete after 0.01s: 100%|██████████| 12/12 [00:00<00:00, 2138.22query/s]

Downloading:   0%|          | 0/3 [00:00<?, ?rows/s]
Downloading: 100%|██████████| 3/3 [00:01<00:00,  2.99rows/s]

,Medication,n_medications,denominator,prevalence_per_thousand
0,Psychoses and related disorders,3772,699622,5.4
1,Hypnotics and anxiolytics,1722,699622,2.5
2,Antidepressants,37082,699622,53.0

In all of the previous code, we hardcoded the clinical codes and medication names that we wanted to query. This is fine if we have a short list that won't change. But if that is not the case, we are better off querying the database with an updatable list. We will see how to do this in the next section.

# Approach 2: Clinical codes from CSV file
In this section, we will run the same query but without hardcoding the SNOMED codes that we want to query.
Instead, we will read a CSV from our directory that contains a column of codes and a column of names, e.g.

| code | term |
| ---- | ---- |
| 0101 | this |
| 0202 | that |
| 0303 | other |

So, in comparison to the first section of this notebook, here we will calculate the prevalences by:
1. making use of the google.cloud library, _and_
2. reading in the clinical codes of interest to us from an external CSV file.

The first step is to load the required libraries for our alternative approach to using Google BigQuery.

In [385]:
import pandas as pd
from google.cloud import bigquery

We then instantiate our google.cloud bigquery client.

In [386]:
client = bigquery.Client()

Next, we read our CSV of SNOMED codes to a pandas.DataFrame. In the code cell below, I read in `example_snomed.csv`. To load your CSV, change `"example_snomed.csv"` to the name of your CSV file.

In [387]:
codes_to_query = pd.read_csv("example_snomed.csv")

Our first approach to calculating prevalences required us to hardcode various string lists and temporary tables (strictly speaking, these "temporary tables" are actually Common Table Expressions, CTEs).

The first hardcoded element of our long query was `tbl_diagnosis_list`, which simply was a list of unique SNOMED terms of interest (as opposed to SNOMED codes). This time, we will create a two-column CTE to which we will later join on the `snomedcode` column as the key. The steps we need to take are:
1. define a string of SQL syntax that will return a result of the 'term' and 'code' columns from our `codes_to_query` dataframe;
2. submit the string to our google.cloud bigquery client;
3. convert the query result to a dataframe; _then_
4. present the dataframe.

If you use the `example_snomed.csv` file, then the output will be:

|   | Condition | snomedcode |
| - | --------- | ---------- |
| 0 | Bipolar disorder | 13746004 |
| 1 |         Borderline personality disorder | 20010003 |
| 2 |                      Chronic depression | 192080009 |
| 3 |  Chronic post-traumatic stress disorder | 313182004 |
| 4 |  Complex post-traumatic stress disorder | 443919007 |
| 5 |         Developmental academic disorder | 1855002 |
| 6 |                               Dysthymia | 78667006 |
| 7 |                    Personality disorder | 33449004 |
| 8 |                           Schizophrenia | 58214004 |

In [388]:
sql = """
WITH tbl_diagnosis_list AS (
    SELECT tbl1.Condition, tbl2.snomedcode
    FROM
    (SELECT
        ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS rn,
        Condition
    FROM
        UNNEST([
              '""" + codes_to_query["term"].str.cat(sep="\', \'") + """'
              ]) AS Condition) AS tbl1
    JOIN 
    (SELECT
        ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS rn,
        snomedcode
    FROM
        UNNEST([
                '""" + '\', \''.join(map(str, codes_to_query["code"].tolist())) + """'
                ]) AS snomedcode) AS tbl2
    ON tbl1.rn = tbl2.rn
)
SELECT *
FROM tbl_diagnosis_list
"""
## To troubleshoot, uncomment the print(sql) command below, which will display
## the SQL syntax that is being passed to the client
#print(sql)
qry_result = client.query(sql).to_dataframe()
print(qry_result)

                                Condition snomedcode
0                        Bipolar disorder   13746004
1         Borderline personality disorder   20010003
2                      Chronic depression  192080009
3  Chronic post-traumatic stress disorder  313182004
4  Complex post-traumatic stress disorder  443919007
5         Developmental academic disorder    1855002
6                               Dysthymia   78667006
7                    Personality disorder   33449004
8                           Schizophrenia   58214004

The previous code cell illustrated how to use the Google BigQuery client. We can now write our full query to return the prevalences of the conditions in which we are interested.

### Clinical conditions

Below we rewrite the SQL syntax that we used in the first approach but we now look into the `codes_to_query` dataframe for our list of codes rather than hardcoding them. If you are using `example_snomed.csv`, then you should get the same output as our first large query in this notebook. The only difference is formatting: here the output is presented as a print of the dataframe but before, the output was presented as the result of a BigQuery.

In [389]:
sql = """
WITH
tbl_diagnosis_list AS (
    SELECT tbl1.Condition, tbl2.snomedcode
    FROM
    (SELECT
        ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS rn,
        Condition
    FROM
        UNNEST([
              '""" + codes_to_query["term"].str.cat(sep="\', \'") + """'
              ]) AS Condition) AS tbl1
    JOIN 
    (SELECT
        ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS rn,
        snomedcode
    FROM
        UNNEST([
                '""" + '\', \''.join(map(str, codes_to_query["code"].tolist())) + """'
                ]) AS snomedcode) AS tbl2
    ON tbl1.rn = tbl2.rn
),

tbl_person AS (
    SELECT DISTINCT person_id, year_of_birth
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    WHERE (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
),

tbl_diagnoses_count AS (
    SELECT
        DISTINCT person_id,
        src_snomedcode
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.tbl_SRCode, tbl_diagnosis_list
    WHERE src_snomedcode IN (tbl_diagnosis_list.snomedcode)
),

tbl_denominator AS (
    # Our population of interest is everyone between the ages of 18 and 70.
    SELECT COUNT(DISTINCT person_id) AS denominator
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    WHERE (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
),

preResult AS (
SELECT
    tbl_diagnoses_count.src_snomedcode,
    COUNT(tbl_person.person_id) AS n_condition,
    tbl_denominator.denominator,
    ROUND((COUNT(tbl_person.person_id) / tbl_denominator.denominator)*1000, 1) AS prevalence_per_thousand
FROM tbl_diagnoses_count, tbl_denominator
JOIN tbl_person
ON tbl_person.person_id = tbl_diagnoses_count.person_id
GROUP BY tbl_diagnoses_count.src_snomedcode, tbl_denominator.denominator
ORDER BY tbl_diagnoses_count.src_snomedcode
)

SELECT
    tbl_diagnosis_list.Condition,
    preResult.n_condition,
    preResult.denominator,
    preResult.prevalence_per_thousand
FROM tbl_diagnosis_list
LEFT JOIN preResult
ON tbl_diagnosis_list.snomedcode = preResult.src_snomedcode
"""

condition_qry_result = client.query(sql).to_dataframe()
print(condition_qry_result)

                                Condition  n_condition  denominator  \
0                        Bipolar disorder       1732.0     699622.0
1         Borderline personality disorder        486.0     699622.0
2                      Chronic depression       1230.0     699622.0
3  Chronic post-traumatic stress disorder        110.0     699622.0
4  Complex post-traumatic stress disorder          NaN          NaN
5         Developmental academic disorder        859.0     699622.0
6                               Dysthymia        539.0     699622.0
7                    Personality disorder       1465.0     699622.0
8                           Schizophrenia       1629.0     699622.0

   prevalence_per_thousand
0                      2.5
1                      0.7
2                      1.8
3                      0.2
4                      NaN
5                      1.2
6                      0.8
7                      2.1
8                      2.3

### Medications

Now that the prevalence of clinical codes are calculated by reading CSV lists, we move on to calculating the prevalences of medication prescriptions.

The code below continues our approach of reading a list from an external CSV but this time we read in a single-variable list of drug names. As a reminder, all counts are for medications started within a year from the current date, and which are repeat prescriptions. The medications of interest are:
 
| Drugs used in psychoses <br /> and related disorders | Hypnotics and anxiolytics | Antidepressants |
| --- | --- | ---
| Risperidone | Diazepam | Clomipramine |
| Olanzapine | Zopiclione | Citalopram |
| Quetiapine | | Duloxetine |
| | | Excitalopram |
| | | Lupentioxol |
| | | Mirtazapine |
| | | Paroxetine |
| | | Sertraline |
| | | Trazodone |
| | | Venlafaxine |
| | | Floxetine |


Firstly, we read in our list of medications.

In [390]:
medications_to_query = pd.read_csv("example_medications.csv")

For our example using `"example_medicatons.csv"`, we have lists of drugs nested within BNF categories (printed below).

In [391]:
print(medications_to_query)

      Medication                      BNFcategory
0    Risperidone  Psychoses and related disorders
1     Olanzapine  Psychoses and related disorders
2     Quetiapine  Psychoses and related disorders
3       Diazepam        Hypnotics and anxiolytics
4      Zopiclone        Hypnotics and anxiolytics
5   Clomipramine                  Antidepressants
6     Citalopram                  Antidepressants
7     Duloxetine                  Antidepressants
8   Excitalopram                  Antidepressants
9   Flupentioxol                  Antidepressants
10   Mirtazapine                  Antidepressants
11    Paroxetine                  Antidepressants
12    Sertraline                  Antidepressants
13     Trazodone                  Antidepressants
14   Venlafaxine                  Antidepressants
15     Floxetine                  Antidepressants

In the next code cell, we calculate the prevalences per BNF Category but selecting `tbl_prevalence_per_medication` would provide the prevalences for each medication, if you want to see that.

In [392]:
sql = """
WITH
tbl_medications_list AS (

    SELECT tbl1.BNFcategory, tbl2.Medication
    FROM
    (SELECT
        ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS rn,
        BNFcategory
    FROM
        UNNEST([
              '""" + medications_to_query["BNFcategory"].str.cat(sep="\', \'") + """'
              ]) AS BNFcategory) AS tbl1
    JOIN 
    (SELECT
        ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS rn,
        Medication
    FROM
        UNNEST([
                '""" + '\', \''.join(map(str, medications_to_query["Medication"].tolist())) + """'
                ]) AS Medication) AS tbl2
    ON tbl1.rn = tbl2.rn
),

tbl_person AS (
    SELECT DISTINCT person_id, year_of_birth
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    # Limiting to age range 18-70.
    WHERE (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
),

tbl_medications_count AS (
    SELECT
        DISTINCT Tblb.person_id,
        tbl_medications_list.Medication
    FROM tbl_medications_list
    LEFT JOIN
    yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.tbl_SRPrimaryCareMedication AS Tblb
    ON
    Tblb.src_nameofmedication LIKE CONCAT('%',tbl_medications_list.Medication,'%')
    WHERE CAST(src_isrepeatmedication AS BOOL) IS TRUE AND
          CAST(src_datemedicationstart AS DATE) > DATE_SUB(CURRENT_DATE(), INTERVAL 1 YEAR)
),

tbl_denominator AS (
    SELECT COUNT(DISTINCT person_id) AS denominator
    FROM yhcr-prd-phm-bia-core.CY_MYSPACE_CMC.person
    # Limiting to age range 18-70.
    WHERE (EXTRACT(YEAR FROM CURRENT_DATE()) - year_of_birth) BETWEEN 18 AND 70
),

preResult AS (
    SELECT
        tbl_medications_count.Medication,
        COUNT(tbl_person.person_id) AS n_medication,
        tbl_denominator.denominator,
        ROUND((COUNT(tbl_person.person_id) / tbl_denominator.denominator)*1000, 1) AS prevalence_per_thousand
    FROM tbl_medications_count, tbl_denominator
    JOIN tbl_person
    ON tbl_person.person_id = tbl_medications_count.person_id
    GROUP BY tbl_medications_count.Medication, tbl_denominator.denominator
    ORDER BY tbl_medications_count.Medication
),

tbl_prevalence_per_medication AS (
    SELECT
        tbl_medications_list.BNFcategory,
        tbl_medications_list.Medication,
        preResult.n_medication,
        preResult.denominator,
        preResult.prevalence_per_thousand
    FROM tbl_medications_list
    LEFT JOIN preResult
    ON tbl_medications_list.Medication = preResult.Medication
),

tbl_prevalence_per_BNFcategory AS (
    SELECT
        BNFcategory,
        SUM(n_medication) AS n_medication
    FROM tbl_prevalence_per_medication
    GROUP BY 
        BNFcategory
)

#SELECT * FROM tbl_prevalence_per_medication


SELECT
    BNFcategory,
    n_medication,
    denominator,
    ROUND((n_medication / denominator)*1000, 1) AS prevalence_per_thousand
FROM tbl_prevalence_per_BNFcategory, tbl_denominator
"""

medications_qry_result = client.query(sql).to_dataframe()
print(medications_qry_result)

                       BNFcategory  n_medication  denominator  \
0  Psychoses and related disorders          3814       699622
1        Hypnotics and anxiolytics          1831       699622
2                  Antidepressants         38400       699622

   prevalence_per_thousand
0                      5.5
1                      2.6
2                     54.9

## Differences in counts between the approaches

The counts (and subsequent prevalences) match for the clinical code. But, I cannot figure out why the counts based on medications are difference between the approaches. Counts using the hardcoded approach are always smaller than the CSV method. The divergences happens when producing `tbl_medications_count`.