Install packages.

In [1]:
#######################
## Install packages. ##
#######################
library( bigrquery )
library( ggplot2 )
library( tidyverse )
library( readr )

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ lubridate 1.9.2     ✔ tibble    3.2.1
✔ purrr     1.0.2     ✔ tidyr     1.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# 2024 01 11

Set and load requisites.

In [75]:
##############################
## Set and load requisites. ##
##############################

# Setup connection to GCP.
project_id = "yhcr-prd-phm-bia-core"
con <- DBI::dbConnect( drv = bigquery(), project = project_id )

# Define R tibbles from GCP tables.
r_tbl_srcode <- dplyr::tbl( con, "CB_FDM_PrimaryCare_V7.tbl_srcode" )
r_tbl_BNF_DMD_SNOMED_lkp <- dplyr::tbl( con, "CB_LOOKUPS.tbl_BNF_DMD_SNOMED_lkp" )
r_tbl_srprimarycaremedication <- dplyr::tbl( con, "CB_FDM_PrimaryCare_V7.tbl_srprimarycaremedication" )
r_tbl_srappointment <- dplyr::tbl( con, "CB_FDM_PrimaryCare_V7.tbl_srappointment" )

# Clinical code lists (BNF, SNOMED-CT, etc).
codes_SNOMED_diagnoses_of_interest <-
    readr::read_csv(file = 'nhsd-primary-care-domain-refsets-dmtype2_cod-20200812.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
codes_SNOMED_test_of_interest <-
    readr::read_csv(file = 'opensafely-glycated-haemoglobin-hba1c-tests-3e5b1269.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
codes_BNF_meds_of_interest <-
    readr::read_csv(file = 'ciaranmci-bnf-section-61-drugs-for-diabetes-207573b7.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
names_meds_of_interest <-
    r_tbl_BNF_DMD_SNOMED_lkp %>%
    dplyr::filter( BNF_Code %in% codes_BNF_meds_of_interest ) %>%
    dplyr::select( DMplusD_ProductDescription )
codes_BNF_metformin <-
    readr::read_csv(file = 'ciaranmci-metformin-bnf-0601022b0-and-child-bnf-codes-only-43e7d87e.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
names_metformin_meds <-
    r_tbl_BNF_DMD_SNOMED_lkp %>%
    dplyr::filter( BNF_Code %in% codes_BNF_metformin ) %>%
    dplyr::select( DMplusD_ProductDescription )

# Study start date
date_study_start <- lubridate::ymd('2018-06-01')
date_study_end <- lubridate::ymd('2020-12-31')

# Duration of months after the first prescription that we ignore before studying patterns.
pattern_delay_months <- 0

# Threshold value for the test, which in this case is HbA1c.
val_test_threshold <- 48

# Set values for meaningful changes in the values of the test.
val_meaningful_test_improvement <- -10
val_meaningful_test_disimprovement <- 10

# Set window within which to search for repeated (but bot repeat) prescriptions.
window_repeated_prescription_months <- 3

# Set number of tests, treatments, or iterations after diagnosis that should be tracked.
n_iterations <- 6

### Define cohort
The cohort is defined as records that include a diagnosis for Type 2 Diabetes Mellitus (T2DM) and a prescription for metformin as the only diabetic medication for the first prescription. The following queries create this list of records that are within the Connected Bradford primary care table.

Select records from primary care that have a clinical code for a T2DM diagnosis. Include a column showing the earliest date of diagnosis. Filter for within the study period.

In [3]:
###########################################################################
## Select records from primary care that have a clinical code for a T2DM ##
## diagnosis. Include a column showing the earliest date of diagnosis.   ##
## Filter for within the study period.                                   ##
###########################################################################
ppl_with_T2DM_diagnoses <-
    r_tbl_srcode %>%
    dplyr::filter( snomedcode %in% codes_SNOMED_diagnoses_of_interest ) %>%
    dplyr::group_by( person_id ) %>%
    dplyr::summarise( date_diagnosis = min( dateevent, na.rm = TRUE ) ) %>%
    dplyr::select( person_id, date_diagnosis ) %>%
    dplyr::filter( dplyr::between(date_diagnosis, date_study_start, date_study_end) )

### Prescriptions table
Select records from the primary-care prescriptions table that contain a prescription for the diabetes medications of interest. Group by `person_id` to select the first prescription, then use an inner join to filter for patients whose first prescription was for a metformin medication. This logic assumes that prescriptions for diabetic medications will only exist after the diagnosis date. Once completed, find these people's next prescription for a diabetes drug that is `pattern_delay_months` after the first prescription.

This provides a table with columns for `person_id`, `date_first_prescription`, `name_first_prescription`, `repeat_first_prescription`, `date_next_prescription`, and `name_next_prescription`.

In [4]:
ppl_first_and_next_prescription <-
########################################################################################################
## Select list of person IDs that have a metformin prescription as their first diabetic prescription. ## 
########################################################################################################
    # Select from the medication table the records for those patients who have a diagnosis.
    ppl_with_T2DM_diagnoses %>%
    dplyr::left_join(r_tbl_srprimarycaremedication, by = join_by( person_id ) ) %>%
    # Select every record that has a prescription for any diabetes medication.
    dplyr::inner_join( names_meds_of_interest, by = join_by( nameofmedication == DMplusD_ProductDescription ) ) %>%
    # Extract the first prescription.
    dplyr::group_by( person_id ) %>%
    dplyr::summarise( date_first_prescription = min( dateevent, na.rm = TRUE ) ) %>%
    # Join to the original table to get the name of the medication.
    dplyr::left_join( r_tbl_srprimarycaremedication, by = join_by( person_id, date_first_prescription == dateevent ) ) %>%
    dplyr::select( person_id, date_first_prescription, nameofmedication, isrepeatmedication, medicationquantity, medicationdosage ) %>%
    dplyr::distinct() %>%
    # Use an inner join to filter these first prescriptions for the metformin medications, only.
    dplyr::inner_join( names_metformin_meds, by = join_by( nameofmedication == DMplusD_ProductDescription ) ) %>%
    dplyr::distinct() %>%
    # Rename the name of the medication (a very hacky way of doing it).
    dplyr::mutate( name_first_prescription = nameofmedication
                  ,repeat_first_prescription = ifelse(isrepeatmedication == 'true', TRUE, FALSE)
                  ,quantity_first_prescription = medicationquantity
                  ,dose_first_prescription = medicationdosage
   ) %>%
    dplyr::select( -c( nameofmedication, isrepeatmedication, medicationquantity, medicationdosage ) ) %>% 

#######################################################################
## Find these people's next prescription for the same diabetes drug. ##
## the first prescription.                                           ##
#######################################################################
    # Select all prescriptions for these person IDs.
    dplyr::left_join( r_tbl_srprimarycaremedication, by = join_by( person_id ) ) %>%
    # Select only prescriptions for the same diabetes medication as the first prescription.
    dplyr::select( person_id, date_first_prescription, name_first_prescription, repeat_first_prescription
                  ,quantity_first_prescription, dose_first_prescription, dateevent, nameofmedication
                  ,isrepeatmedication, medicationquantity, medicationdosage ) %>%
    dplyr::group_by( person_id ) %>%
    dplyr::filter( name_first_prescription == nameofmedication ) %>%
    dplyr::distinct() %>%
    dplyr::ungroup() %>%
    # Rename columns (the hacky way).
    dplyr::mutate(
        date_next_prescription = dateevent#ifelse( date_first_prescription == dateevent, NA_character_, dateevent )
        ,repeat_next_prescription = ifelse( isrepeatmedication == 'true', TRUE, FALSE )#ifelse( date_first_prescription == dateevent, NA_character_, ifelse( isrepeatmedication == 'true', TRUE, FALSE ) )
        ,quantity_next_prescription = medicationquantity#ifelse( date_first_prescription == dateevent, NA_character_, medicationquantity )
        ,dose_next_prescription = medicationdosage#ifelse( date_first_prescription == dateevent, NA_character_, medicationdosage )
    ) %>% 
    dplyr::select( -c( dateevent, nameofmedication, medicationquantity, medicationdosage, isrepeatmedication ) ) %>% 
    # Retrieve either a) the first of the next prescriptions, if there is only one, or b) the second
    # of the next prescripions, if there is more than one and the first is NA.
    dplyr::group_by( person_id ) %>%
    dbplyr::window_order( date_next_prescription ) %>%
    dplyr::mutate(
        keep_this = dplyr::case_when(
            ( date_next_prescription == date_first_prescription ) & is.na( dplyr::lead( date_next_prescription ) ) ~ TRUE
            ,( date_next_prescription == date_first_prescription ) & !is.na( dplyr::lead( date_next_prescription ) ) ~ FALSE
            ,( date_next_prescription != date_first_prescription ) & ( dplyr::lag( date_next_prescription ) == date_first_prescription ) ~ TRUE
            ,( date_next_prescription != date_first_prescription ) & ( dplyr::lag( date_next_prescription ) != date_first_prescription ) ~ FALSE
            ,TRUE ~ NA
        )
    ) %>%
    dplyr::filter( keep_this == TRUE ) %>% 
    dplyr::select( - keep_this ) %>%
    # Set NA if there was no subsequent prescription for the same medication.
    dplyr::mutate(
        date_next_prescription = ifelse( date_next_prescription == date_first_prescription, NA_character_, date_next_prescription )
        ,repeat_next_prescription = ifelse( date_next_prescription == date_first_prescription, NA_character_, repeat_next_prescription )
        ,quantity_next_prescription = ifelse( date_next_prescription == date_first_prescription, NA_character_, quantity_next_prescription )
        ,dose_next_prescription = ifelse( date_next_prescription == date_first_prescription, NA_character_, dose_next_prescription )
     ) %>%

#######################################################################
## What was the treatment (i.e. prescription): {repeat prescription, ## # Needs checking.
## repeated prescription, one-off prescription}?                     ##
#######################################################################
    dbplyr::window_order( person_id ) %>%
    dplyr::mutate(
        prescription_repeat = dplyr::case_when(
            ( repeat_first_prescription == TRUE ) & is.na( date_next_prescription ) ~ 'Repeat prescription'
            ,( repeat_first_prescription == TRUE ) & is.na( date_next_prescription ) ~ 'Error: Repeat prescription but no same subsequent'
            ,( repeat_first_prescription == FALSE ) & !is.na( date_next_prescription ) ~ 'Prescription repeated'
            ,( repeat_first_prescription == FALSE ) & is.na( date_next_prescription )  ~ 'One-off prescription'
            ,TRUE ~ 'Unknown'
        )
    )

In [5]:
t <-
ppl_first_and_next_prescription %>%
dplyr::arrange( person_id ) %>%
dplyr::collect()

In [6]:
t %>%
head( )

  person_id date_first_prescription name_first_prescription
1   230     2020-07-13 09:48:21     Metformin 1g modified-release tablets
2  6066     2020-01-31 09:32:54     Metformin 500mg tablets
3 15106     2018-08-31 12:10:46     Metformin 500mg tablets
4 17525     2020-01-08 09:32:19     Metformin 500mg tablets
5 19553     2021-04-22 14:22:42     Metformin 500mg tablets
6 20102     2019-10-03 14:25:01     Metformin 500mg tablets
  repeat_first_prescription quantity_first_prescription
1  TRUE                     56 tablet
2  TRUE                     112 tablet
3  TRUE                     84 tablet
4 FALSE                     28 tablet
5 FALSE                     7 tablet
6 FALSE                     56 tablet
  dose_first_prescription
1 take one daily
2 take 2 tablets after breakfast and evening meal
3 One tablet daily for 2 weeks then increase to on tablet twice daily
4 Take 1 tablet after breakfast and evening meal
5 Week 2: Take ONE daily after breakfast
6 1 with  main  meal
  date_next_prescription repeat_next_prescription quantity_next_prescription
1 <NA>                   TRUE                     56 tablet
2 2021-07-16 09:12:14    TRUE                     112 tablet
3 2018-09-03 09:47:05    TRUE                     84 tablet
4 2020-02-05 11:47:10    TRUE                     28 tablet
5 2021-05-13 11:31:40    TRUE                     28 tablet
6 2019-11-25 15:31:03    TRUE                     56 tablet
  dose_next_prescription
1 take one daily
2 take 2 tablets after breakfast and evening meal
3 One tablet daily for 2 weeks then increase to on tablet twice daily
4 Take 1 tablet after breakfast and evening meal
5 Week 7 onwards: Take TWO tablet twice a day
6 1 with  main  meal
  prescription_repeat
1 Repeat prescription
2 Unknown
3 Unknown
4 Prescription repeated
5 Prescription repeated
6 Prescription repeated

### Tests table.
Find these people's next prescription for a diabetes drug that is `pattern_delay_months` after the first prescription.

This provides a table with columns for `person_id`, `date_next_test`, and `val_next_test`.

In [76]:
########################################################################################################
## Find these people's next prescription for a diabetes drug that is `pattern_delay_months` after     ##
## the first prescription.                                                                            ##
########################################################################################################
ppl_next_test <- 
    # Filter records for only those that refer to the test of interest.
    r_tbl_srcode %>%
    dplyr::filter( snomedcode %in% codes_SNOMED_test_of_interest ) %>%
    # Filter for only those patient that we already identified in our prescription table.
    dplyr::right_join( ppl_first_and_next_prescription %>% dplyr::select( person_id, date_first_prescription )
                      ,by = join_by( person_id )
    ) %>%
    # Extract the required fields.
    dplyr::select( person_id, dateevent, numericvalue, date_first_prescription ) %>%
    # Filter for tests that were done after the pattern start date.
    dplyr::group_by( person_id ) %>%
    dplyr::filter(
        dateevent > sql(paste0( 'DATETIME_ADD( date_first_prescription, INTERVAL ', pattern_delay_months, ' MONTH )') )
    ) %>%
    # Remove `date_first_prescription` because it is no longer needed.
    dplyr::select( - date_first_prescription ) %>%
    # Filter for however many subsequent test you want, then number them.
    dbplyr::window_order( person_id, dateevent ) %>%
    dplyr::filter( row_number() <= n_iterations ) %>%
    dplyr::mutate( temp_col_names = row_number() ) %>% 
    # Rename columns (the hacky way).
    dplyr::mutate(
        date_next_test = dateevent
        ,val_next_test = as.integer( numericvalue )
    ) %>%
    dplyr::select( -c( dateevent, numericvalue ) ) %>% 
    # Append the date of diagnosis and find the test result immediately preceding it. ###########################
    dplyr::left_join( ppl_with_T2DM_diagnoses, by = join_by( person_id ) ) %>%
    # Sort and retrieve the query results.
    dplyr::arrange( person_id ) %>% dplyr::collect() %>%
    # Define new variables quantifying the intervals of interest.
    dplyr::mutate(
        interval_test_to_test = lubridate::as.period( date_next_test - dplyr::lag( date_next_test ) ) %>% lubridate::day()
    ) %>%
    # Pivot the subsequent test dates and values into their own columns.
    tidyr::pivot_wider( names_from = temp_col_names, values_from = c( date_next_test, val_next_test, interval_test_to_test ), names_sort = TRUE ) %>%
    # Define the first interval, i.e. between diagnosis and first test.
    tibble::add_column(
        interval_diagnosis_to_test_1 = lubridate::as.period( .$date_next_test_1 - .$date_diagnosis ) %>% lubridate::day()
        ,.before = "interval_test_to_test_1"
    ) %>%
    dplyr::select( - interval_test_to_test_1 ) %>%
    dplyr::rename_with(
        .fn = ~ paste0("interval_test_", c( 2:n_iterations - 1 ), "_to_test_", c( 2:( n_iterations ) ), recycle0 = TRUE )
        ,.cols = starts_with("interval_test_to_test")
    )
####### The first intervals seems very long but note that it is constrained to be AFTER the first prescription.

     person_id date_diagnosis      date_next_test_1    date_next_test_2
1       230    2018-12-12 00:00:00 2020-08-10 18:51:00 2020-11-05 09:51:41
2     15106    2018-08-31 12:10:46 2018-11-27 13:05:00 2019-05-28 13:39:00
3     17525    2019-05-29 00:00:00 2020-12-02 14:19:00 2022-01-20 19:21:00
4     19553    2019-06-11 19:35:49 2021-12-29 19:29:00 <NA>
5     20102    2019-09-18 15:31:54 2021-04-28 18:47:00 2021-08-19 14:04:00
6     30766    2019-07-01 12:16:06 2019-10-04 12:57:00 2020-01-17 14:29:00
7     36414    2018-08-24 15:16:54 2018-09-24 19:31:00 2018-09-24 19:31:00
8     38736    2020-11-20 15:04:52 2021-02-11 18:22:00 2021-06-01 11:16:22
9     43158    2020-12-21 00:00:00 2021-03-03 00:00:00 2022-05-10 16:29:19
10    52017    2018-06-13 09:42:12 2018-09-19 11:12:21 2018-12-05 12:59:00
11    52387    2020-05-18 10:12:31 2020-07-20 19:26:00 2022-09-07 13:49:00
12    57509    2020-11-01 14:15:55 2020-12-18 12:11:46 2021-02-05 10:20:33
13    71219    2018-06-12 09:09:10 2023-02-24 09:38:00 <NA>
14    72637    2019-11-06 13:43:24 2019-11-29 11:01:00 2020-05-27 10:24:00
15   127021    2020-03-30 10:49:43 2021-09-22 14:00:00 2021-10-12 10:11:25
16   128545    2018-11-12 09:03:14 2019-03-04 09:21:00 2019-03-11 09:32:37
17   134836    2020-11-09 00:00:00 2021-02-17 09:27:10 2021-02-17 09:27:10
18   138662    2019-08-14 00:00:00 2017-11-01 19:36:00 2018-06-26 14:25:37
19   139169    2020-12-02 11:13:09 2021-04-21 12:50:00 2021-11-09 13:57:00
20   140509    2019-09-19 09:40:00 2020-08-19 08:36:23 2022-02-17 14:06:53
21   145789    2019-02-19 09:56:52 2020-07-20 09:46:56 2021-01-21 13:36:00
22   162149    2020-07-20 17:44:08 2009-12-16 16:49:00 2010-11-03 09:43:00
23   164345    2020-04-07 11:38:52 2019-08-23 00:00:00 2022-03-25 09:54:25
24   169771    2020-08-04 16:43:51 2020-10-22 16:43:00 2020-11-24 10:15:00
25   180039    2018-10-17 13:10:18 2019-06-20 11:03:00 2019-06-20 11:03:00
26   197679    2020-04-01 08:42:32 2021-07-30 11:10:00 <NA>
27   207369    2019-02-07 13:57:13 2019-02-07 17:54:00 2019-04-10 09:08:57
28   207555    2019-08-22 14:37:47 2020-11-19 13:56:00 2021-08-04 12:35:00
29   215643    2019-01-24 14:30:44 2017-03-23 11:24:39 2017-08-03 11:17:32
30   222313    2019-01-16 10:30:28 2022-05-12 11:55:00 2022-08-16 13:39:00
⋮    ⋮         ⋮                   ⋮                   ⋮
3447 13755406  2020-04-08 13:34:58 2021-04-27 11:25:57 <NA>
3448 13756417  2019-02-19 10:22:12 2019-04-08 13:00:00 2019-06-07 10:11:00
3449 13756484  2019-03-15 00:00:00 2019-09-09 19:21:00 2020-02-28 18:48:00
3450 13757523  2020-06-24 10:27:09 2021-10-06 15:15:00 2021-11-12 10:11:24
3451 13757756  2020-06-07 13:05:51 2020-08-11 18:30:00 2022-06-09 19:21:00
3452 13757926  2019-04-15 08:16:32 2021-08-17 13:24:23 2022-03-22 14:04:11
3453 13758085  2019-08-28 10:13:15 2020-02-11 10:20:14 2020-11-17 16:46:00
3454 13758646  2018-08-14 09:51:08 2018-10-09 17:47:00 2018-12-10 11:34:52
3455 13758838  2020-09-08 10:47:24 2021-04-29 13:17:00 2021-11-12 15:12:00
3456 13759120  2020-09-30 18:39:23 2021-07-29 12:45:55 2021-07-29 12:45:55
3457 13759200  2018-09-12 15:30:48 2018-11-16 13:16:00 2019-01-10 13:47:00
3458 13759853  2020-11-24 09:06:45 2021-04-01 19:12:00 2021-11-02 15:02:28
3459 13760065  2018-12-31 11:17:56 2019-07-22 10:50:00 2019-10-21 09:41:00
3460 13760670  2019-11-06 09:59:31 2022-07-26 10:07:00 2023-01-28 09:57:00
3461 13760948  2020-10-09 00:00:00 2022-03-10 08:58:24 2022-08-04 09:07:44
3462 13761065  2020-01-21 11:39:32 2021-06-01 18:04:00 2022-06-16 20:00:00
3463 13761261  2020-07-23 00:00:00 2020-09-22 10:28:00 2020-12-16 16:46:00
3464 13761592  2020-06-30 17:01:36 2021-12-21 10:50:00 2023-01-27 10:03:00
3465 13763119  2018-07-13 10:28:26 2018-08-22 07:21:56 2019-02-13 09:23:05
3466 13763288  2020-03-30 10:45:59 2021-08-26 15:05:37 2022-03-31 16:11:00
3467 13763753  2019-07-16 11:09:28 2021-02-22 19:12:00 2021-08-06 17:43:00
3468 13763858  2018-10-26 14:00:20 2017-07-25 14:53:00 2018-03-28 11:08:08
3469 13765862  2019-06-14 14:33:18 2021-10-26 17:46:00 2022-04-28 13:49:00
3470 13767842  2019-05-15 09:58:00 2019-06-18 00:00:00 2020-01-13 00:00:00
3471 13767958  2019-07-02 00:00:00 2020-01-24 00:00:00 2020-06-09 00:00:00
3472 13768477  2020-10-08 12:23:04 2020-09-30 09:25:00 2021-03-04 13:42:00
3473 14918812  2020-06-29 00:00:00 2022-11-04 18:52:00 <NA>
3474 14983665  2019-08-27 00:00:00 2021-02-13 00:00:00 2021-07-20 00:00:00
3475 14987811  2020-07-28 00:00:00 2022-11-21 18:38:00 <NA>
3476 14994785  2018-12-21 15:40:15 2018-10-04 10:45:00 2018-11-30 12:10:00
     date_next_test_3    date_next_test_4    date_next_test_5
1    2021-03-18 09:59:36 2022-01-20 10:18:55 2022-05-26 10:43:51
2    2019-10-10 13:32:00 2021-08-05 13:42:00 2021-08-19 10:22:40
3    <NA>                <NA>                <NA>
4    <NA>                <NA>                <NA>
5    2022-03-08 10:12:51 2022-11-03 13:19:00 <NA>
6    2021-05-04 17:08:00 2021-08-23 14:50:00 2021-12-06 16:48:00
7    2019-03-06 13:39:00 2019-03-06 13:39:00 2019-08-30 18:30:00
8    2021-09-21 14:22:37 2022-01-11 12:40:04 2023-02-01 08:41:09
9    <NA>                <NA>                <NA>
10   2019-06-07 11:29:00 2020-07-22 12:26:33 2020-07-22 12:26:33
11   2023-01-31 18:57:00 <NA>                <NA>
12   2021-05-25 13:21:18 2021-12-17 18:34:00 2022-04-20 18:26:00
13   <NA>                <NA>                <NA>
14   2020-11-09 13:23:00 2020-12-01 10:00:00 2021-03-11 09:26:00
15   <NA>                <NA>                <NA>
16   2019-08-14 12:52:00 2022-02-07 18:20:00 2023-01-27 14:03:00
17   2021-02-17 09:27:10 2021-05-27 18:21:00 2021-05-27 18:21:00
18   2018-12-18 20:00:00 2019-08-08 18:46:00 2019-08-08 18:46:00
19   2021-11-12 14:59:41 2022-07-05 13:25:00 <NA>
20   2022-02-17 18:10:00 <NA>                <NA>
21   2021-04-29 18:37:00 2022-11-02 13:26:00 2023-02-24 13:08:00
22   2012-02-06 10:00:00 2013-05-24 00:00:00 2013-07-24 10:05:00
23   2022-08-26 10:53:39 2023-02-24 10:42:11 <NA>
24   2021-06-21 16:55:00 2021-10-26 13:43:00 2022-02-10 18:17:00
25   2020-11-17 10:06:00 2020-11-17 10:06:00 2021-09-28 12:57:53
26   <NA>                <NA>                <NA>
27   2019-08-07 09:55:45 2019-11-07 19:50:00 2020-09-11 14:43:00
28   2022-06-27 17:13:00 2022-07-06 08:33:37 <NA>
29   2019-01-24 14:30:44 2019-10-02 10:28:31 2021-08-26 14:11:00
30   2022-10-18 13:08:00 <NA>                <NA>
⋮    ⋮                   ⋮                   ⋮
3447 <NA>                <NA>                <NA>
3448 2019-11-04 13:10:00 2020-01-07 16:04:00 2020-07-10 13:57:00
3449 2021-03-08 14:40:00 2021-08-10 18:30:00 2022-03-10 18:38:00
3450 2022-04-20 15:21:00 2022-04-20 15:21:00 2022-08-01 18:04:00
3451 2022-12-22 20:29:00 <NA>                <NA>
3452 2022-10-04 18:40:00 2023-01-09 13:55:00 <NA>
3453 2021-04-16 13:41:00 2021-12-16 16:49:00 2023-01-25 14:01:00
3454 2019-02-04 12:43:53 2019-04-04 17:45:00 2019-04-29 12:16:58
3455 2022-06-29 09:48:00 <NA>                <NA>
3456 2021-08-19 15:33:00 2021-08-19 15:33:00 2022-03-10 17:42:00
3457 2019-10-17 13:33:00 2020-12-02 13:01:00 2020-12-21 14:05:00
3458 2022-04-29 19:20:00 2023-01-23 20:12:00 <NA>
3459 2020-10-14 09:38:00 2021-10-25 12:09:00 2022-04-01 10:31:00
3460 <NA>                <NA>                <NA>
3461 2022-08-04 09:07:44 2022-10-12 14:41:00 <NA>
3462 <NA>                <NA>                <NA>
3463 2021-07-15 16:34:00 2022-04-25 16:11:00 <NA>
3464 <NA>                <NA>                <NA>
3465 2019-08-08 08:29:41 2020-09-04 13:21:00 2021-02-03 17:18:00
3466 2022-08-17 11:53:46 2022-08-17 11:53:46 <NA>
3467 2021-08-17 11:03:50 2022-02-14 19:30:00 2022-05-03 17:48:00
3468 2018-05-29 18:43:00 2018-06-12 08:57:28 2018-06-21 14:20:00
3469 2022-09-27 17:10:00 <NA>                <NA>
3470 2020-10-05 00:00:00 2021-07-06 00:00:00 2022-02-19 13:19:00
3471 2021-02-02 00:00:00 2022-07-11 09:31:00 2022-12-02 09:47:00
3472 2021-04-29 09:36:00 2021-10-18 05:19:00 2022-07-25 15:16:00
3473 <NA>                <NA>                <NA>
3474 2021-08-04 00:00:00 2022-09-21 12:05:00 2022-09-21 12:05:00
3475 <NA>                <NA>                <NA>
3476 2019-01-23 11:45:00 2019-04-16 15:40:00 2019-07-25 00:00:00
     date_next_test_6    val_next_test_1 val_next_test_2 val_next_test_3
1    2022-09-29 10:25:35  67              80              60
2    2021-11-18 17:46:00  47              44              48
3    <NA>                 51              53              NA
4    <NA>                 76              NA              NA
5    <NA>                 52              50              55
6    2022-07-07 17:39:00  41              44              48
7    2019-08-30 18:30:00  61              61              48
8    <NA>                 50              47              53
9    <NA>                109             108              NA
10   2022-07-27 11:25:29  47              54              53
11   <NA>                 60             117             107
12   <NA>                 50              56              56
13   <NA>                117              NA              NA
14   2021-06-15 00:00:00  61              70              79
15   <NA>                 56              53              NA
16   <NA>                 50              46              47
17   2022-03-04 19:21:00  65              65              65
18   2021-02-17 12:44:00  41              34              47
19   <NA>                 49              48              48
20   <NA>                 49              45              46
21   <NA>                 58             101              86
22   2014-02-24 15:23:39  96              60              62
23   <NA>                125              91              66
24   2022-08-30 17:06:00  62              61              67
25   2021-09-28 12:57:53  51              51             120
26   <NA>                 56              NA              NA
27   2021-04-19 18:09:00  67              54              42
28   <NA>                 52              56              52
29   2022-07-15 19:05:00  61              62              55
30   <NA>                 55              45              47
⋮    ⋮                   ⋮               ⋮               ⋮
3447 <NA>                 40              NA              NA
3448 2021-07-14 13:05:00  74              52              38
3449 2022-07-08 09:08:04  42              43              89
3450 2022-08-01 18:04:00  54              54              65
3451 <NA>                 47              51              48
3452 <NA>                 59              53              55
3453 <NA>                 69             108             116
3454 2019-10-15 12:22:26  82              79              80
3455 <NA>                 42              46              84
3456 2022-03-10 17:42:00  47              47              48
3457 2021-12-20 14:05:00  68              64              54
3458 <NA>                 40              41              41
3459 2023-01-17 09:51:00  54              58              55
3460 <NA>                 75              67              NA
3461 <NA>                 51              52              52
3462 <NA>                107             100              NA
3463 <NA>                 55              48              49
3464 <NA>                 53              51              NA
3465 2021-06-25 17:06:00  53              65              54
3466 <NA>                 83              78              66
3467 <NA>                 53              52              52
3468 2018-08-17 13:45:43  62              64              77
3469 <NA>                 42              41              43
3470 <NA>                 41              44              44
3471 2022-12-20 14:00:50  57              56              71
3472 2023-02-20 10:25:00 107              98              68
3473 <NA>                 54              NA              NA
3474 <NA>                 48              48              47
3475 <NA>                 64              NA              NA
3476 2019-11-18 19:05:00  83              77              77
     val_next_test_4 val_next_test_5 val_next_test_6
1     82              65              62
2     56              56              49
3     NA              NA              NA
4     NA              NA              NA
5     51              NA              NA
6     73              61              64
7     48              60              60
8     66              63              NA
9     NA              NA              NA
10    48              48              51
11    NA              NA              NA
12    61              62              NA
13    NA              NA              NA
14    74              71              57
15    NA              NA              NA
16    63              78              NA
17   130             130             130
18    61              61              79
19    48              NA              NA
20    NA              NA              NA
21    96              93              NA
22    91              86              63
23    98              NA              NA
24    49              53              55
25   120             102             102
26    NA              NA              NA
27    50              53              93
28    52              NA              NA
29    52              52              46
30    NA              NA              NA
⋮    ⋮               ⋮               ⋮
3447 NA               NA              NA
3448 43               46              52
3449 59              101              77
3450 65               60              60
3451 NA               NA              NA
3452 50               NA              NA
3453 95               83              NA
3454 77               79             103
3455 NA               NA              NA
3456 48               68              68
3457 60               60              47
3458 43               NA              NA
3459 64               58              69
3460 NA               NA              NA
3461 52               NA              NA
3462 NA               NA              NA
3463 48               NA              NA
3464 NA               NA              NA
3465 61               74              50
3466 66               NA              NA
3467 58               48              NA
3468 71               81              72
3469 NA               NA              NA
3470 43               43              NA
3471 74               89              89
3472 45               67              63
3473 NA               NA              NA
3474  0               44              NA
3475 NA               NA              NA
3476 72               92              88
     interval_diagnosis_to_test_1 interval_test_1_to_test_2
1      607                         86
2       88                        182
3      553                        414
4      931                         NA
5      588                        112
6       95                        105
7       31                          0
8       83                        109
9       72                        433
10      98                         77
11      63                        778
12      46                         48
13    1718                         NA
14      22                        179
15     541                         19
16     112                          7
17     100                          0
18    -650                        236
19     140                        202
20     334                        547
21     516                        185
22   -3869                        321
23    -228                        945
24      78                         32
25     245                          0
26     485                         NA
27       0                         61
28     454                        257
29    -672                        132
30    1212                         96
⋮    ⋮                            ⋮
3447  383                          NA
3448   48                          59
3449  178                         171
3450  469                          36
3451   65                         667
3452  855                         217
3453  167                         280
3454   56                          61
3455  233                         197
3456  301                           0
3457   64                          55
3458  128                         214
3459  202                          90
3460  993                         185
3461  517                         147
3462  497                         380
3463   61                          85
3464  538                         401
3465   39                         175
3466  514                         217
3467  587                         164
3468 -457                         245
3469  865                         183
3470   33                         209
3471  206                         137
3472   -8                         155
3473  858                          NA
3474  536                         157
3475  846                          NA
3476  -78                          57
     interval_test_2_to_test_3 interval_test_3_to_test_4
1    133                       308
2    134                       665
3     NA                        NA
4     NA                        NA
5    200                       240
6    473                       110
7    162                         0
8    112                       111
9     NA                        NA
10   183                       411
11   146                        NA
12   109                       206
13    NA                        NA
14   166                        21
15    NA                        NA
16   156                       908
17     0                        99
18   175                       232
19     3                       234
20     0                        NA
21    98                       551
22   460                       472
23   154                       181
24   209                       126
25   515                         0
26    NA                        NA
27   119                        92
28   327                         8
29   539                       250
30    62                        NA
⋮    ⋮                         ⋮
3447  NA                        NA
3448 150                        64
3449 373                       155
3450 159                         0
3451 196                        NA
3452 196                        96
3453 149                       244
3454  56                        59
3455 228                        NA
3456  21                         0
3457 279                       411
3458 178                       269
3459 358                       376
3460  NA                        NA
3461   0                        69
3462  NA                        NA
3463 210                       283
3464  NA                        NA
3465 175                       393
3466 138                         0
3467  10                       181
3468  62                        13
3469 152                        NA
3470 266                       274
3471 238                       524
3472  55                       171
3473  NA                        NA
3474  15                       413
3475  NA                        NA
3476  53                        83
     interval_test_4_to_test_5 interval_test_5_to_test_6
1    126                       125
2     13                        91
3     NA                        NA
4     NA                        NA
5     NA                        NA
6    105                       213
7    177                         0
8    385                        NA
9     NA                        NA
10     0                       734
11    NA                        NA
12   123                        NA
13    NA                        NA
14    99                        95
15    NA                        NA
16   353                        NA
17     0                       281
18     0                       558
19    NA                        NA
20    NA                        NA
21   113                        NA
22    61                       215
23    NA                        NA
24   107                       200
25   315                         0

### Contact / Appointments table.
Describe the pattern of contacts between the first subsequent test and the second subsequent test.

In [12]:
ppl_count_contacts_between_tests <-
    ppl_next_test %>%
    left_join( r_tbl_srappointment %>% dplyr::select( person_id, datestart ), by = join_by( person_id ) ) %>%
    dplyr::filter( datestart > date_next_test_1 & datestart < date_next_test_2 ) %>%
    dplyr::distinct( datestart ) %>%
    dplyr::group_by( person_id ) %>%
    dplyr::summarise( count_contacts_between_tests = n() )

In [ ]:
temp <-
    ppl_next_test %>%
    dplyr::left_join( ppl_count_contacts_between_tests, by = join_by( person_id ) ) %>%
    arrange( person_id ) %>%
    dplyr::collect() %>%
    head( n = 10 )

In [18]:
temp %>% colnames()

[1] "person_id"                           "date_next_test_1"
[3] "date_next_test_2"                    "val_next_test_1"
[5] "val_next_test_2"                     "date_diagnosis"
[7] "interval_diagnosis_to_next_test_1"   "interval_next_test_1_to_next_test_2"
[9] "count_contacts_between_tests"

In [28]:
temp %>% 
dplyr::select( person_id, date_diagnosis, date_next_test_1, date_next_test_2 ) %>%
head()

  person_id date_diagnosis      date_next_test_1    date_next_test_2
1   230     2018-12-12 00:00:00 2020-08-10 18:51:00 2020-11-05 09:51:41
2 15106     2018-08-31 12:10:46 2018-11-27 13:05:00 2019-05-28 13:39:00
3 17525     2019-05-29 00:00:00 2020-12-02 14:19:00 2022-01-20 19:21:00
4 19553     2019-06-11 19:35:49 2021-12-29 19:29:00 <NA>
5 20102     2019-09-18 15:31:54 2021-04-28 18:47:00 2021-08-19 14:04:00
6 30766     2019-07-01 12:16:06 2019-10-04 12:57:00 2020-01-17 14:29:00

# 2024 01 04

Set and load requisites.

In [71]:
##############################
## Set and load requisites. ##
##############################

# Setup connection to GCP.
project_id = "yhcr-prd-phm-bia-core"
con <- DBI::dbConnect( drv = bigquery(), project = project_id )

# Define R tibbles from GCP tables.
r_tbl_srcode <- dplyr::tbl( con, "CB_FDM_PrimaryCare_V7.tbl_srcode" )
r_tbl_BNF_DMD_SNOMED_lkp <- dplyr::tbl( con, "CB_LOOKUPS.tbl_BNF_DMD_SNOMED_lkp" )
r_tbl_srprimarycaremedication <- dplyr::tbl( con, "CB_FDM_PrimaryCare_V7.tbl_srprimarycaremedication" )
r_tbl_srappointment <- dplyr::tbl( con, "CB_FDM_PrimaryCare_V7.tbl_srappointment" )

# Clinical code lists (BNF, SNOMED-CT, etc).
codes_SNOMED_diagnoses_of_interest <-
    readr::read_csv(file = 'nhsd-primary-care-domain-refsets-dmtype2_cod-20200812.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
codes_SNOMED_test_of_interest <-
    readr::read_csv(file = 'opensafely-glycated-haemoglobin-hba1c-tests-3e5b1269.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
codes_BNF_meds_of_interest <-
    readr::read_csv(file = 'ciaranmci-bnf-section-61-drugs-for-diabetes-207573b7.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
names_meds_of_interest <-
    r_tbl_BNF_DMD_SNOMED_lkp %>%
    dplyr::filter( BNF_Code %in% codes_BNF_meds_of_interest ) %>%
    dplyr::select( DMplusD_ProductDescription )
codes_BNF_metformin <-
    readr::read_csv(file = 'ciaranmci-metformin-bnf-0601022b0-and-child-bnf-codes-only-43e7d87e.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
names_metformin_meds <-
    r_tbl_BNF_DMD_SNOMED_lkp %>%
    dplyr::filter( BNF_Code %in% codes_BNF_metformin ) %>%
    dplyr::select( DMplusD_ProductDescription )

# Study start date
date_study_start <- lubridate::ymd('2018-06-01')
date_study_end <- lubridate::ymd('2020-12-31')

# Duration of months after the first prescription that we ignore before studying patterns.
pattern_delay_months <- 0

# Threshold value for the test, which in this case is HbA1c.
val_test_threshold <- 48

# Set values for meaningful changes in the values of the test.
val_meaningful_test_improvement <- -10
val_meaningful_test_disimprovement <- 10

# Set window within which to search for repeated (but bot repeat) prescriptions.
window_repeated_prescription_months <- 3

### Define cohort
The cohort is defined as records that include a diagnosis for Type 2 Diabetes Mellitus (T2DM) and a prescription for metformin as the only diabetic medication for the first prescription. The following queries create this list of records that are within the Connected Bradford primary care table.

Select records from primary care that have a clinical code for a T2DM diagnosis. Include a column showing the earliest date of diagnosis. Filter for within the study period.

In [72]:
###########################################################################
## Select records from primary care that have a clinical code for a T2DM ##
## diagnosis. Include a column showing the earliest date of diagnosis.   ##
## Filter for within the study period.                                   ##
###########################################################################
ppl_with_T2DM_diagnoses <-
    r_tbl_srcode %>%
    dplyr::filter( snomedcode %in% codes_SNOMED_diagnoses_of_interest ) %>%
    dplyr::group_by( person_id ) %>%
    dplyr::summarise( date_diagnosis = min( dateevent, na.rm = TRUE ) ) %>%
    dplyr::select( person_id, date_diagnosis ) %>%
    dplyr::filter( dplyr::between(date_diagnosis, date_study_start, date_study_end) )

### Prescriptions table
Select records from the primary-care prescriptions table that contain a prescription for the diabetes medications of interest. Group by `person_id` to select the first prescription, then use an inner join to filter for patients whose first prescription was for a metformin medication. This logic assumes that prescriptions for diabetic medications will only exist after the diagnosis date. Once completed, find these people's next prescription for a diabetes drug that is `pattern_delay_months` after the first prescription.

This provides a table with columns for `person_id`, `date_first_prescription`, `name_first_prescription`, `repeat_first_prescription`, `date_next_prescription`, and `name_next_prescription`.

In [73]:
ppl_first_and_next_prescription <-
########################################################################################################
## Select list of person IDs that have a metformin prescription as their first diabetic prescription. ## 
########################################################################################################
    # Select from the medication table the records for those patients who have a diagnosis.
    ppl_with_T2DM_diagnoses %>%
    dplyr::left_join(r_tbl_srprimarycaremedication, by = join_by( person_id ) ) %>%
    # Select every record that has a prescription for any diabetes medication.
    dplyr::inner_join( names_meds_of_interest, by = join_by( nameofmedication == DMplusD_ProductDescription ) ) %>%
    # Extract the first prescription.
    dplyr::group_by( person_id ) %>%
    dplyr::summarise( date_first_prescription = min( dateevent, na.rm = TRUE ) ) %>%
    # Join to the original table to get the name of the medication.
    dplyr::left_join( r_tbl_srprimarycaremedication, by = join_by( person_id, date_first_prescription == dateevent ) ) %>%
    dplyr::select( person_id, date_first_prescription, nameofmedication, isrepeatmedication, medicationquantity, medicationdosage ) %>%
    dplyr::distinct() %>%
    # Use an inner join to filter these first prescriptions for the metformin medications, only.
    dplyr::inner_join( names_metformin_meds, by = join_by( nameofmedication == DMplusD_ProductDescription ) ) %>%
    dplyr::distinct() %>%
    # Rename the name of the medication (a very hacky way of doing it).
    dplyr::mutate( name_first_prescription = nameofmedication
                  ,repeat_first_prescription = ifelse(isrepeatmedication == 'true', TRUE, FALSE)
                  ,quantity_first_prescription = medicationquantity
                  ,dose_first_prescription = medicationdosage
   ) %>%
    dplyr::select( -c( nameofmedication, isrepeatmedication, medicationquantity, medicationdosage ) ) %>%

########################################################################################################
## Find these people's next prescription for a diabetes drug that is `pattern_delay_months` after     ##
## the first prescription.                                                                            ##
########################################################################################################
    # Select all prescriptions for these person IDs.
    dplyr::left_join( r_tbl_srprimarycaremedication, by = join_by( person_id ) ) %>%
    # Select only prescriptions for diabetes medications.
    dplyr::select( person_id, date_first_prescription, name_first_prescription, repeat_first_prescription
                  ,quantity_first_prescription, dose_first_prescription, dateevent, nameofmedication ) %>%
    dplyr::inner_join( names_meds_of_interest, by = join_by( nameofmedication == DMplusD_ProductDescription ) ) %>%
    dplyr::distinct() %>%
    # Filter for tests that were done after the pattern start date.
    dplyr::group_by( person_id ) %>%
    dplyr::filter(
        dateevent > sql( paste0( 'DATETIME_ADD( date_first_prescription, INTERVAL ', pattern_delay_months, ' MONTH )' ) )
    ) %>%
    # If there are multiple medications prescribed on the same day, collapse the combination into one comma-separated string.
    dplyr::ungroup() %>% 
    dplyr::mutate(
        combind_NoM = sql( 'STRING_AGG(nameofmedication, \', \') OVER( PARTITION BY person_id, dateevent)' )
    ) %>%
    # Rename columns (the hacky way).
    dplyr::mutate(
        date_next_prescription = dateevent
        ,name_next_prescription = as.character( combind_NoM )
    ) %>% 
    dplyr::select( -c( dateevent, nameofmedication, combind_NoM ) ) %>%
    dplyr::distinct() %>% 
    # Retrieve only the first of the next prescriptions.
    dplyr::group_by( person_id ) %>%
    dbplyr::window_order( date_next_prescription ) %>%
    dplyr::filter( row_number() == 1 ) %>%
    dplyr::ungroup() %>%

#######################################################################
## What was the treatment (i.e. prescription): {repeat prescription, ##
## repeated prescription, one-off prescription}?                     ##
#######################################################################
    dbplyr::window_order( person_id ) %>%
    dplyr::mutate(
        prescription_repeat = dplyr::case_when(
            ( repeat_first_prescription == TRUE ) & ( name_next_prescription %LIKE% paste0( '%', name_first_prescription, '%' ) ) ~ 'Repeat prescription'
            ,( repeat_first_prescription == TRUE ) & ( name_next_prescription %NOT LIKE% paste0( '%', name_first_prescription, '%' ) ) ~ 'Error: Repeat prescription but subsequent does not match'
            ,( repeat_first_prescription == FALSE ) & ( name_next_prescription %LIKE% paste0( '%', name_first_prescription, '%' ) ) ~ 'Prescription repeated'
            ,( repeat_first_prescription == FALSE ) & ( name_next_prescription %NOT LIKE% paste0( '%', name_first_prescription, '%' ) ) ~ 'One-off prescription'
            ,TRUE ~ 'Unknown'
            )
    )

### Tests table.
Find these people's next prescription for a diabetes drug that is `pattern_delay_months` after the first prescription.

This provides a table with columns for `person_id`, `date_next_test`, and `val_next_test`.

In [74]:
########################################################################################################
## Find these people's next prescription for a diabetes drug that is `pattern_delay_months` after     ##
## the first prescription.                                                                            ##
########################################################################################################
ppl_next_test <- 
    # Filter records for only those that refer to the test of interest.
    r_tbl_srcode %>%
    dplyr::filter( snomedcode %in% codes_SNOMED_test_of_interest,
                     as.numeric( numericvalue ) > val_test_threshold ) %>%
    # Filter for only those patient that we already identified in our prescription table.
    dplyr::right_join( ppl_first_and_next_prescription %>% dplyr::select( person_id, date_first_prescription )
                      ,by = join_by( person_id )
    ) %>%
    # Extract only the perion ID and the date and result of the test.
    dplyr::select( person_id, dateevent, numericvalue, date_first_prescription ) %>%
    # Filter for tests that were done after the pattern start date.
    dplyr::group_by( person_id ) %>%
    dplyr::filter(
        dateevent > sql(paste0( 'DATETIME_ADD( date_first_prescription, INTERVAL ', pattern_delay_months, ' MONTH )') )
    ) %>%
    dplyr::select( -date_first_prescription ) %>%
    # Filter for the first of these subsequent prescriptions.
    dbplyr::window_order( person_id, dateevent ) %>%
    dplyr::filter( row_number() == 1 ) %>% # Just add `| row_number() == 2` if you want the second-next, too.
    # Rename columns (the hacky way).
    dplyr::mutate(
        date_next_test = dateevent
        ,val_next_test = as.integer( numericvalue )
    ) %>%
    dplyr::select( -c( dateevent, numericvalue ) )

### Join tables and calculate variables of interest.
Our prescriptions and tests tables are joined by matching the person ID. New columns are added to store variables that represent the answers to the following questions:

1. What was the treatment (i.e. prescription): {repeat prescription, repeated prescription, one-off prescription}?

2. What was the duration until the next end event?

3. Did the test result change?

4. Did the count and frequency of contacts change? * * *_I need more information. What are the intervals? What are 'contacts'?_* * *

In [23]:
# Find the value of the test initiated the diagnosis. Call it `val_diagnosis_test`.
ppl_diagnosis_test <-
    r_tbl_srcode %>%
    dplyr::filter( snomedcode %in% codes_SNOMED_test_of_interest,
                  as.numeric( numericvalue ) > 48 ) %>%
    dplyr::select( person_id, dateevent, numericvalue ) %>%
    dplyr::inner_join( ppl_with_T2DM_diagnoses, by = join_by( person_id ) ) %>%
    dplyr::filter( dateevent < date_diagnosis ) %>%
    dplyr::group_by( person_id ) %>%
    dplyr::summarise( date_test_just_before_diagnosis = max( dateevent ) ) %>%
    dplyr::left_join( r_tbl_srcode,
                     by = join_by( person_id, date_test_just_before_diagnosis == dateevent ) ) %>%
    dplyr::filter( snomedcode %in% codes_SNOMED_test_of_interest ) %>%
    dplyr::mutate( val_diagnosis_test = as.integer( numericvalue ) ) %>%
    dplyr::select( - numericvalue ) %>%
    dplyr::select( person_id, val_diagnosis_test )
 


# Join the tables.
dplyr::left_join(
    ppl_first_and_next_prescription
    ,ppl_next_test
    ,by = join_by( person_id )
) %>%
dplyr::left_join(
    ppl_diagnosis_test
    ,by = join_by( person_id )
) %>%
dplyr::mutate(
    val_test_threshold = val_test_threshold 
   ,val_meaningful_test_improvement = val_meaningful_test_improvement
   ,val_meaningful_test_disimprovement = val_meaningful_test_disimprovement
) %>%
#####################################################    
## Did the count and frequency of contacts change? ## # Don't know how I will tackle this one, yet. I can use tbl_srappointment but I will still need to define intervals.
#####################################################
#... 

#####################################################
## What was the duration until the next end event? ##
#####################################################
dplyr::mutate(
    days_until_next_prescription = sql('DATETIME_DIFF(date_next_prescription, date_first_prescription, DAY)')
    ,days_until_next_test = sql('DATETIME_DIFF(date_next_test, date_first_prescription, DAY)')
) %>% 
#################################
## Did the test result change? ##
#################################
dplyr::mutate(
    status_next_test = dplyr::case_when(
        is.na( val_next_test ) ~ 'No next test within window.'
        ,val_next_test >= val_test_threshold ~ 'Of concern'
        ,val_next_test < val_test_threshold ~ 'No concern'
    )
    ,change_next_test = dplyr::case_when(
        is.na( val_diagnosis_test ) ~ 'No diagnosis test. Check data.'
        ,is.na( val_next_test ) ~ 'No next test within window.'
        ,( val_next_test - val_diagnosis_test ) < val_meaningful_test_improvement ~ 'Improvement'
        ,( val_next_test - val_diagnosis_test ) > val_meaningful_test_disimprovement ~ 'Disimprovement'
        ,TRUE ~ 'No change'
    )
) %>%
dplyr::select( - c( val_meaningful_test_improvement, val_meaningful_test_disimprovement ) ) %>% arrange(person_id) %>% collect() %>% head()

ERROR: Error in `dplyr::mutate()`:
ℹ In argument: `status_next_test = dplyr::case_when(...)`
Caused by error:
! Object `val_next_test` not found.

# 2023 12 07

Set and load requisites.

In [73]:
# Set and load requisites.

# Setup connection to GCP.
project_id = "yhcr-prd-phm-bia-core"
con <- DBI::dbConnect( drv = bigquery(), project = project_id )

# Define R tibbles from GCP tables.
r_tbl_srcode <- dplyr::tbl( con, "CB_FDM_PrimaryCare_V7.tbl_srcode" )
r_tbl_BNF_DMD_SNOMED_lkp <- dplyr::tbl( con, "CB_LOOKUPS.tbl_BNF_DMD_SNOMED_lkp" )
r_tbl_srprimarycaremedication <- dplyr::tbl( con, "CB_FDM_PrimaryCare_V7.tbl_srprimarycaremedication" )

# Clinical code lists (BNF, SNOMED-CT, etc).
codes_SNOMED_diagnoses_of_interest <-
    readr::read_csv(file = 'nhsd-primary-care-domain-refsets-dmtype2_cod-20200812.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
codes_SNOMED_test_of_interest <-
    readr::read_csv(file = 'opensafely-glycated-haemoglobin-hba1c-tests-3e5b1269.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
codes_BNF_meds_of_interest <-
    readr::read_csv(file = 'ciaranmci-bnf-section-61-drugs-for-diabetes-207573b7.csv',
                    col_types = cols( code = col_character(), term = col_character() ) )$code
names_meds_of_interest <-
    r_tbl_BNF_DMD_SNOMED_lkp %>%
    dplyr::filter( BNF_Code %in% codes_BNF_meds_of_interest ) %>%
    dplyr::select( DMplusD_ProductDescription )

# Define study duration in months.
study_duration <- 6
# Define the duration of interest between a diagnosis and the first prescription. We
# assume that this is the duration in which lifestyle interventions are trialled before
# resorting to medications.
duration_between_diagnosis_and_first_prescription_in_months <- 4

Select records from the primary care table that have a clinical code for a T2DM diagnosis. Include a column showing the earliest date of diagnosis.

In [3]:
# Select records from primary care that have a clinical code for a T2DM
# diagnosis. Include a column showing the earliest date of diagnosis.
ppl_with_T2DM_diagnoses <-
    r_tbl_srcode %>%
    dplyr::filter( snomedcode %in% codes_SNOMED_diagnoses_of_interest ) %>%
    dplyr::group_by( person_id ) %>%
    dplyr::summarise( date_diagnosis = min( dateevent, na.rm = TRUE ) ) %>%
    dplyr::select( person_id, date_diagnosis )

Select records from the primary care table that have a reading for HbA1c greater than 48 mmol/l. Then, select only those records that were also returned for having a clinical code for a T2DM diagnosis. Finally, only select the records where the HbA1c test > 48 mmol/l happened before the diagnosis for T2DM was clinically coded.

In [11]:
# Select records from primary care that have a reading for HbA1c greater
# than 48 mmol/l. Then, select only those records that were also returned
# for having a clinical code for a T2DM diagnosis. Finally, only select 
# the records where the HbA1c test > 48 mmol/l happened before the diagnosis
# for T2DM was clinically coded.
ppl_with_high_HbA1c_just_before_diagnosis <-
    r_tbl_srcode %>%
    dplyr::filter( snomedcode %in% codes_SNOMED_test_of_interest) %>%
    dplyr::select( person_id, dateevent, numericvalue ) %>%
    dplyr::inner_join( ppl_with_T2DM_diagnoses, by = join_by( person_id ) ) %>%
    dplyr::filter( dateevent < date_diagnosis) %>%
    dplyr::group_by( person_id ) %>%
    dplyr::filter( dateevent == max( dateevent ) ) %>%
    dplyr::select( - date_diagnosis ) %>%
    dplyr::arrange( person_id )

Select records from the primary-care prescriptions table that contain a prescription for the diabetes medications of interest. Include a column showing the earliest date of prescription for each person (as opposed to the earliest prescription of a particular drug for each person).

In [ ]:
# Select records from the primary-care prescriptions table that contain
# a prescription for the diabetes medications of interest. Include a column
# showing the earliest date of prescription for each person (as opposed to
# the earliest prescription of a particular drug for each person).
ppl_with_diabetes_meds_first_prescription <-
    r_tbl_srprimarycaremedication %>%
    dplyr::inner_join( names_meds_of_interest, by = join_by( nameofmedication == DMplusD_ProductDescription ) ) %>%
    dplyr::group_by( person_id ) %>%
    dplyr::summarise( date_first_prescription = min( dateevent, na.rm = TRUE ) ) %>%
    dplyr::left_join( r_tbl_srprimarycaremedication, by = join_by( person_id, date_first_prescription == dateevent ) ) %>%
    dplyr::select( person_id, date_first_prescription, nameofmedication ) %>%
    dplyr::filter( nameofmedication %in% ????? # I need a way to filter out any non-diabetes prescriptions that also happened on the date of the first diabetic prescription.
                 ) %>%
    dplyr::arrange( person_id )

ppl_with_diabetes_meds_first_prescription %>% dplyr::collect()

Mark records where there is a prescription for diabetes medications within the duration between a diagnosis and the first prescription. We assume this duration would be sufficient for lifestyle interventions. NOTE: This list of records is limited to those of people who were eventually prescribed diabetes medication. If the lifestyle intervention worked, then they are not included in this list.

In [15]:
# Mark records where there is a prescription for diabetes medications within 
# the duration between a diagnosis and the first prescription. We assume this
# duration would be sufficient for lifestyle interventions.
# NOTE: This list of records is limited to those of people who were eventually 
# prescribed diabetes medication. If the lifestyle intervention worked, then
# they are not included in this list.
ppl_with_delay_before_meds_treatment <-
    ppl_with_T2DM_diagnoses %>%
    dplyr::inner_join( ppl_with_diabetes_meds_first_prescription, by = join_by(person_id) ) %>% dplyr::collect() %>%
    dplyr::mutate(
        ppl_with_delay_before_meds_treatment = 
            base::ifelse(
                base::difftime( date_first_prescription, date_diagnosis, units = "weeks") >
                                (duration_between_diagnosis_and_first_prescription_in_months*4) # Assumes four weeks in a month.
                ,"Prescription delayed", "Prescription NOT delayed"
            )
    ) %>%
    dplyr::select( person_id, ppl_with_delay_before_meds_treatment )

Select patient IDs from records that indicated a high HbA1c just before diagnosis and mark them as either having or not having a prescription for diabetes drugs within a duration in which lifestyle interventions would be expected as a first choice. The `ppl_with_delay_before_meds_treatment` variable acts as our "exposure" or "grouping" variable.

In [16]:
# Select patient IDs from records that indicated a high HbA1c just before diagnosis
# and mark them as either having or not having a prescription for diabetes drugs 
# within a duration in which lifestyle interventions would be expected as a first
# choice.
cohort_of_interest <-
    ppl_with_high_HbA1c_just_before_diagnosis %>% dplyr::collect() %>%
    dplyr::inner_join( ppl_with_delay_before_meds_treatment, by = join_by( person_id ) ) %>%
    dplyr::select( person_id, ppl_with_delay_before_meds_treatment ) %>%
    dplyr::arrange( person_id )

In [20]:
i_pID = 2173

was_a_prescription_given

if_prescription_then_what_drug_name

if_prescription_then_what_drug_duration

if_prescription_then_what_drug_single_or_continued

final_HbA1c_value

  person_id ppl_with_delay_before_meds_treatment
1  147      Prescription delayed
2  230      Prescription delayed
3  344      Prescription delayed
4  344      Prescription delayed
5 2173      Prescription NOT delayed
6 2841      Prescription delayed